body {
weight: 100%;
height: 100%;
font-family: "Roboto", Arial, sans-serif;
background-image: url(bg.jpg);
}

a {
text-decoration: none;
}

h1 {
color: red;
}

.content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
text-align: center;
color: white;
font-size: 30px;
}

.github {
color: white;
background: black;
height: 50px;
weight: 100px;
border-radius: none;
}
